*{
    margin: 0;
    box-sizing: border-box;
    max-width: 500px;
}

body{
    display: grid;
    height: 100vh;
}

div{
    width: 40vw;
    height: 40vh;
    justify-self: center;
    border: 1px solid black;
    border-radius: 5%;
}